{% extends "base.html" %}

{% block head %}
  <title> Instructions | TumorInsight </title>
{% endblock head %}

{% block hero %}

<section id="hero" class="hero d-flex align-items-center">
  <div class="container">
    <div class="row">
      
      <div class="col-lg-4 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">User Instructions</h1>
      </div>

      <div class="col-lg-2"></div>

      <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="zoom-out" data-aos-delay="150">
        <table border=0>
          <tr>
            <td>
            <ol style="font-size: 20px">
              <li><p>If you are a new user, first create an account using a valid email id.</p></li>
              <li><p>If you are an existing user, login to the website using valid credentials.</p></li>
              <li><p>After logging in you will be directed to the page with an option to upload a MRI scan.</p></li>
              <li><p>Select the upload option and upload a valid image format .</p></li>
              <li><p>Within a few seconds the result will be displayed on the scbree, with options to save, download and share.</p></li>
            </ol>
            </td>
          </tr>
        </table> <br>

        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <a href="/" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <i class="bi bi-arrow-left"></i> &nbsp; &nbsp;
              <span>Go Home</span>
            </a>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
  
{% endblock hero %}
